<p-header></p-header>

<div class="flex px-4 mx-auto max-w-[1440px] sm:px-6 lg:px-8">
    <p-sidebar class="flex-shrink-0 w-64 mt-8"></p-sidebar>
    <div class="mt-8">
        <router-outlet></router-outlet>
    </div>
</div>

<p-footer></p-footer>

<!-- <div class="grid h-full place-items-center bg-surface">
    <div>
        <div>
            <label for="theme" class="block text-sm font-medium text-gray-900">
                Headliner
            </label>

            <select
                name="theme"
                id="theme"
                [formControl]="themeSeletor"
                class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm"
            >
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </div>
    </div>
    <div class="text-primary">hello world</div>
</div> -->
