.light {
    --color-primary: rgb(0 74 175);
    --color-surface-tint: rgb(22 89 197);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(56 112 220);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(77 94 136);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(198 212 255);
    --color-on-secondary-container: rgb(45 63 103);
    --color-tertiary: rgb(125 42 143);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(166 82 183);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(65 0 2);
    --color-background: rgb(250 248 255);
    --color-on-background: rgb(25 27 34);
    --color-surface: rgb(250 248 255);
    --color-on-surface: rgb(25 27 34);
    --color-surface-variant: rgb(223 226 242);
    --color-on-surface-variant: rgb(66 70 83);
    --color-outline: rgb(115 119 132);
    --color-outline-variant: rgb(195 198 213);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(46 48 55);
    --color-inverse-on-surface: rgb(240 240 250);
    --color-inverse-primary: rgb(176 198 255);
    --color-primary-fixed: rgb(217 226 255);
    --color-on-primary-fixed: rgb(0 25 69);
    --color-primary-fixed-dim: rgb(176 198 255);
    --color-on-primary-fixed-variant: rgb(0 65 156);
    --color-secondary-fixed: rgb(217 226 255);
    --color-on-secondary-fixed: rgb(5 26 65);
    --color-secondary-fixed-dim: rgb(180 198 246);
    --color-on-secondary-fixed-variant: rgb(53 70 111);
    --color-tertiary-fixed: rgb(254 214 255);
    --color-on-tertiary-fixed: rgb(53 0 65);
    --color-tertiary-fixed-dim: rgb(245 173 255);
    --color-on-tertiary-fixed-variant: rgb(114 31 133);
    --color-surface-dim: rgb(217 217 227);
    --color-surface-bright: rgb(250 248 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(243 243 253);
    --color-surface-container: rgb(237 237 247);
    --color-surface-container-high: rgb(231 231 241);
    --color-surface-container-highest: rgb(225 226 235);
}

.dark {
    --color-primary: rgb(176 198 255);
    --color-surface-tint: rgb(176 198 255);
    --color-on-primary: rgb(0 44 111);
    --color-primary-container: rgb(54 110 218);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(180 198 246);
    --color-on-secondary: rgb(29 47 87);
    --color-secondary-container: rgb(43 61 101);
    --color-on-secondary-container: rgb(193 209 255);
    --color-tertiary: rgb(245 173 255);
    --color-on-tertiary: rgb(86 0 105);
    --color-tertiary-container: rgb(164 80 181);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(17 19 26);
    --color-on-background: rgb(225 226 235);
    --color-surface: rgb(17 19 26);
    --color-on-surface: rgb(225 226 235);
    --color-surface-variant: rgb(66 70 83);
    --color-on-surface-variant: rgb(195 198 213);
    --color-outline: rgb(141 144 159);
    --color-outline-variant: rgb(66 70 83);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(225 226 235);
    --color-inverse-on-surface: rgb(46 48 55);
    --color-inverse-primary: rgb(22 89 197);
    --color-primary-fixed: rgb(217 226 255);
    --color-on-primary-fixed: rgb(0 25 69);
    --color-primary-fixed-dim: rgb(176 198 255);
    --color-on-primary-fixed-variant: rgb(0 65 156);
    --color-secondary-fixed: rgb(217 226 255);
    --color-on-secondary-fixed: rgb(5 26 65);
    --color-secondary-fixed-dim: rgb(180 198 246);
    --color-on-secondary-fixed-variant: rgb(53 70 111);
    --color-tertiary-fixed: rgb(254 214 255);
    --color-on-tertiary-fixed: rgb(53 0 65);
    --color-tertiary-fixed-dim: rgb(245 173 255);
    --color-on-tertiary-fixed-variant: rgb(114 31 133);
    --color-surface-dim: rgb(17 19 26);
    --color-surface-bright: rgb(55 57 64);
    --color-surface-container-lowest: rgb(12 14 20);
    --color-surface-container-low: rgb(25 27 34);
    --color-surface-container: rgb(29 31 38);
    --color-surface-container-high: rgb(40 42 49);
    --color-surface-container-highest: rgb(50 53 60);
}
