.light {
    --color-primary: 0 74 175;
    --color-surface-tint: 22 89 197;
    --color-on-primary: 255 255 255;
    --color-primary-container: 56 112 220;
    --color-on-primary-container: 255 255 255;
    --color-secondary: 77 94 136;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 198 212 255;
    --color-on-secondary-container: 45 63 103;
    --color-tertiary: 125 42 143;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 166 82 183;
    --color-on-tertiary-container: 255 255 255;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 250 248 255;
    --color-on-background: 25 27 34;
    --color-surface: 250 248 255;
    --color-on-surface: 25 27 34;
    --color-surface-variant: 223 226 242;
    --color-on-surface-variant: 66 70 83;
    --color-outline: 115 119 132;
    --color-outline-variant: 195 198 213;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 46 48 55;
    --color-inverse-on-surface: 240 240 250;
    --color-inverse-primary: 176 198 255;
    --color-primary-fixed: 217 226 255;
    --color-on-primary-fixed: 0 25 69;
    --color-primary-fixed-dim: 176 198 255;
    --color-on-primary-fixed-variant: 0 65 156;
    --color-secondary-fixed: 217 226 255;
    --color-on-secondary-fixed: 5 26 65;
    --color-secondary-fixed-dim: 180 198 246;
    --color-on-secondary-fixed-variant: 53 70 111;
    --color-tertiary-fixed: 254 214 255;
    --color-on-tertiary-fixed: 53 0 65;
    --color-tertiary-fixed-dim: 245 173 255;
    --color-on-tertiary-fixed-variant: 114 31 133;
    --color-surface-dim: 217 217 227;
    --color-surface-bright: 250 248 255;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 243 243 253;
    --color-surface-container: 237 237 247;
    --color-surface-container-high: 231 231 241;
    --color-surface-container-highest: 225 226 235;
}

.dark {
    --color-primary: 176 198 255;
    --color-surface-tint: 176 198 255;
    --color-on-primary: 0 44 111;
    --color-primary-container: 54 110 218;
    --color-on-primary-container: 255 255 255;
    --color-secondary: 180 198 246;
    --color-on-secondary: 29 47 87;
    --color-secondary-container: 43 61 101;
    --color-on-secondary-container: 193 209 255;
    --color-tertiary: 245 173 255;
    --color-on-tertiary: 86 0 105;
    --color-tertiary-container: 164 80 181;
    --color-on-tertiary-container: 255 255 255;
    --color-error: 255 180 171;
    --color-on-error: 105 0 5;
    --color-error-container: 147 0 10;
    --color-on-error-container: 255 218 214;
    --color-background: 17 19 26;
    --color-on-background: 225 226 235;
    --color-surface: 17 19 26;
    --color-on-surface: 225 226 235;
    --color-surface-variant: 66 70 83;
    --color-on-surface-variant: 195 198 213;
    --color-outline: 141 144 159;
    --color-outline-variant: 66 70 83;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 225 226 235;
    --color-inverse-on-surface: 46 48 55;
    --color-inverse-primary: 22 89 197;
    --color-primary-fixed: 217 226 255;
    --color-on-primary-fixed: 0 25 69;
    --color-primary-fixed-dim: 176 198 255;
    --color-on-primary-fixed-variant: 0 65 156;
    --color-secondary-fixed: 217 226 255;
    --color-on-secondary-fixed: 5 26 65;
    --color-secondary-fixed-dim: 180 198 246;
    --color-on-secondary-fixed-variant: 53 70 111;
    --color-tertiary-fixed: 254 214 255;
    --color-on-tertiary-fixed: 53 0 65;
    --color-tertiary-fixed-dim: 245 173 255;
    --color-on-tertiary-fixed-variant: 114 31 133;
    --color-surface-dim: 17 19 26;
    --color-surface-bright: 55 57 64;
    --color-surface-container-lowest: 12 14 20;
    --color-surface-container-low: 25 27 34;
    --color-surface-container: 29 31 38;
    --color-surface-container-high: 40 42 49;
    --color-surface-container-highest: 50 53 60;
}
